**/.idea
**/.pmd
**/.eclipse-pmd
*.eml
*~
.*swp
.classpath
**/*.iml
**/*.ipr
**/*.iws
.DS_Store
.metadata
.project
.settings
**/.idea
*.iml
eclipse-target
target
.AppleDouble
.directory
.idea
intellij-config
elastic-search-queries.log
logs
data
*.log
src/main/resources/sendgrid.properties
